body{
    background-position: fixed;
    background-color: rgba(13, 26, 31, 0.9);
    background-size: 100%;
}



#navette{
    margin-top: 50px;
    text-align: center;
    color: rgb(218, 158, 47);
    font-family: monospace;
}
#informations{
    text-align: center;
    color: rgb(218, 158, 47);
    font-family: monospace;
}
#reservation{
    text-align: center;
    color: rgb(218, 158, 47);
    font-family: monospace;
}