:root {
    /**
    *   Couleurs Bootstrap
    **/
    --primary:      #007bff;
    --dark-primary: #03376e;
    --secondary:    #6c757d;
    --success:      #28a745;
    --dark-success: #0a4a18;
    --danger:       #dc3545;
    --warning:      #ffc107;
    --info:         #17a2b4;
    --dark:         #343a40;
    --light:        #ffffff;
}

body{
    margin: 1em;
    padding: .5em;
}

.title{
    font-size: 40px;
    text-shadow: 2px 2px 5px orange;
    font-family: 'Lucida Handwriting';
}

.navigation li{
    font-family: 'Franklin Gothic Medium';
    border: solid 1px black;
    background-color: var(--primary);
}

.menu{
    color: var(--light);
}

.menu:hover{
    color: var(--warning);
}