body{
    background-position:fixed;
    height: 100%;
    background-image:url("https://vistapointe.net/images/stargate-5.jpg");
    background-repeat:no-repeat;
    background-size:100%;
}

#informations{
    text-align: center;
    color: rgb(218, 158, 47);
    font-family: monospace;
}
#reservation{
    text-align: center;
    color: rgb(218, 158, 47);
    font-family: monospace;
}

h3.title{
    font-size: 40px;
    text-shadow: 2px 2px 5px orange;
    font-family: 'Lucida Handwriting';
}

.navigation li{
    font-family: 'Franklin Gothic Medium';
    border: solid 1px black;
    background-color: var(--primary);
    border-radius: 25px;
    margin: .5em;
    width: 130px;
    text-align: center;
}